[submodule "external/libs/uvgRTP"]
	path = external/libs/uvgRTP
	url = https://github.com/ultravideo/uvgRTP.git
[submodule "external/libs/libdatachannel"]
	path = external/libs/libdatachannel
	url = https://github.com/paullouisageneau/libdatachannel.git
[submodule "external/libs/libsdptransform"]
	path = external/libs/libsdptransform
	url = https://github.com/ibc/libsdptransform.git
[submodule "external/libs/CLI11"]
	path = external/libs/CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "external/libs/poco"]
	path = external/libs/poco
	url = https://github.com/pocoproject/poco.git
[submodule "external/libs/nlohmann_json"]
	path = external/libs/nlohmann_json
	url = https://github.com/nlohmann/json.git
